<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<!-- Definišemo novi binding bez bezbednosti -->
				<binding name="BezbednostIskljucena">
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint
				address="net.tcp://localhost:10000/NetworkModelService/GDA"
				binding="netTcpBinding"
				bindingConfiguration="BezbednostIskljucena" 
			contract="FTN.ServiceContracts.INetworkModelGDAContract"
			name="NetworkModelGDAEndpoint" />
		</client>
	</system.serviceModel>
</configuration>